body {
  margin: 0;
  padding: 0;
  background-color: #14bdac;
  font-family: sans-serif;
  font-size: 30px;
  color: #fff;
}

.app {
  width: 100vw;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  top: 10px;
  min-height: 100px;
}

.header__input {
  margin-right: 10px;
  background-color: #fff;
  color: #1c1c1c;
  height: 30px;
  font-size: 17px;
  width: 50px;
  outline: none;
  border: 1px solid #1c1c1c;
  border-radius: 5px;
  box-sizing: border-box;
}

.header__button {
  background-color: #1c1c1c;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  outline: none;
  height: 30px;
  box-sizing: border-box;
  transition: 0.1s;
}

.header__button:hover {
  background-color: #fff;
  color: #1c1c1c;
  border: 1px solid #1c1c1c;
  cursor: pointer;
}

.header__text-block {
  position: relative;
  top: 15px;
}

.header__moves-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__text-block img{
  width: 30px;
  margin: 10px;
}

.field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background-color: #0da192;
}

.cell {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #14bdac;
}

.cell:hover {
  cursor: pointer;
}

.cell__img {
  width: 80%;
}